pkgbase = mingw-w64-mcfgthread
	pkgdesc = An efficient Gthread implementation for GCC (mingw-w64)
	pkgver = 20210616
	pkgrel = 1
	url = https://github.com/lhmouse/mcfgthread
	arch = any
	license = LGPL
	makedepends = mingw-w64-configure
	depends = mingw-w64-crt
	options = !strip
	options = !buildflags
	options = staticlibs
	source = https://github.com/lhmouse/mcfgthread.git
	md5sums = SKIP

pkgname = mingw-w64-mcfgthread
